@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
  font: 300 14pt 'Lato', 'Gill Sans', Arial, Helvetica, sans-serif;
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar {
  border-bottom: 1px solid #e6e6e6;
  height: 6rem;
  font-size: 125%;
  background: white;
  padding-left: 30px;
}

.navbar-brand {
  font-size: 4vw;
  letter-spacing: 10pt;
  text-transform: uppercase;
  color: #222222;
}

.nav-link.pill {
  border: 2pt solid #41e2ad;
  border-radius: 20pt;
}

h1 {
  margin-top: 1em;
}

h3 {
  color: #004;
}

.bg-grass {
  background: url('i/bg-large/17389695592_8d3c19d02f_o.jpg');
  /*background: url('i/bg-large/5323488503_64f96ca674_o.jpg');*/
  background-size: cover;
}
.bg-grass > div {
  background: rgba(255,255,255,0.8);
}
.bg-grass p {
  color: #333;
}

.bg-white-heading {
  background: white;
  display: inline-block;
  padding:0.2em
}

p {
  color: #111; /* #262626; */
  line-height: 175%;
}

strong {
  font-weight: bold;
}

.container ul {
  list-style: none;
  padding-left: 0;
}

.container li {
  margin-bottom: 1em;
  font-size: 95%;
}

.lead {
  font-weight: 400;
  font-size: 40px;
  color: #111;
  line-height: 150%;
  padding-top: 5rem;
}

.inset-block {
  padding: 15px;
  margin-bottom: 1rem;
}

.portfolio-item {
  color: white;
  padding: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio-item h4 {
  font-weight: 300;
  margin-bottom: 1rem;
}

.portfolio a:hover {
  text-decoration: none;
}


/* Portfolio pages */

.kpis {
  background: #eee;
  padding: 2rem;
  text-align: center;
}

.kpis big {
  display: block;
  font-size: 300%;
}

.figure-caption {
  border-top: 1pt solid #999;
  padding-top: 1pt;
}

.figure-border {
  border: solid 1px #999;
}

#footer {
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  color: white;
}

#footer a {
  color:white;
}

.bg-dark {
  background-color: rgba(35, 35, 35, 1);
}

.bg-red {
  background-color: rgba(253, 65, 1, 1);
}

.bg-teal {
  background-color: rgba(103, 216, 229, 1);
}

.bg-yellow {
  background-color: rgba(255, 196, 58, 1);
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  bottom: 5vh;
}
